.container {
    display: inline-flex;

    align-items: center; /*cross*/
    justify-content: start; /*main*/

    /*
    flex-direction: row;
    flex-wrap: wrap;
    */

    flex-flow: row wrap;

    /*
    row-gap: 20px;
    column-gap: 20px;
    */
    gap: 40px 20px;
    

    border: 1px red dotted;
    width: 600px;   
    /*height: 600px;*/
}

.item {
    display: block;

    /*
    flex-grow: 0;
    flex-shrink: -1;
    flex-basis: 100px;
    */

    flex: 0 1 100px;

    

    border: 1px solid black;
    height: 100px;
    width: 100px;

    /*box-sizing: border-box;*/
}

.active {
    order: -1;
    flex: 1 0 100%;
}

/*
.first {
    order: -1;
}
.sec {
    order: -2;
}
.third {
    order: -3;
}
*/
/*
.item:nth-child(even){
    align-self: self-start;
}
.item:nth-child(odd){
    align-self: center;
}
*/